./model/list/*
./model/output/*
./model/restart/*
*_101221.gms
*_101821.gms
*_101221_commented.gms
*_101821_commented.gms
*_backup.gms
*_OG.gms
*.lst
*_OG.csv
*_OG.gdx
*_output_*
*.bat
/26.1
26.1/
/Data/updated_data/fuel_shock
/Data/updated_data/fuel_shock
EMA_Full/data/IPM/epa-v6-summer-2021-reference-case.zip
